<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>АрхиДиВиз</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/about.css">
</head>

<body>

    <div class="lines">
        <span class="lines-item1"></span>
        <span class="lines-item2"></span>
        <span class="lines-item3"></span>
        <span class="lines-item4"></span>
        <span class="lines-item5"></span>
        <span class="lines-item6"></span>
    </div>

    <nav class="menu">
        <ul>
            <li class="active"><a href="about.html"><span>О студии</span><i class="icon-company-1"></i></a></li>
            <li><a href="portfolio.html"><span>Портфолио</span><i class="icon-interior-design-1"></i></a></li>
            <li><a href="services.html"><span>Услуги</span><i class="icon-setting-1"></i></a></li>
            <li><a href="contacts.html"><span>Контакты</span><i class="icon-email-1"></i></a></li>
        </ul>
    </nav>

    <section class="about">
        <div class="about-content">
            <a class="logo-page" href="index.html"><img src="../img/logo-page.png" alt=""></a>
            <div class="about-text">
                <p>Lorem ipsum dolor sit amet, tristique vivamus nec in pede. <strong>Ac cursus, magna interdum aliquet,</strong> libero primis orci nunc. Quis quis gravida sit aliquam ac scelerisque, potenti fusce cupiditate felis, <strong>varius 
                    non sequi massa, vel molestie suspendisse wisi,</strong> vestibulum mi ligula placerat pharetra ut risus.</p>
            </div>
        </div>
    </section>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/about.min.js"></script>
</body>

</html>