<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>АрхиДиВиз</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/contacts.css">
</head>

<body>

    <div class="lines">
        <span class="lines-item1"></span>
        <span class="lines-item2"></span>
        <span class="lines-item3"></span>
        <span class="lines-item4"></span>
        <span class="lines-item5"></span>
        <span class="lines-item6"></span>
    </div>

    <nav class="menu">
        <ul>
            <li><a href="about.html"><span>О студии</span><i class="icon-company-1"></i></a></li>
            <li><a href="portfolio.html"><span>Портфолио</span><i class="icon-interior-design-1"></i></a></li>
            <li><a href="services.html"><span>Услуги</span><i class="icon-setting-1"></i></a></li>
            <li class="active"><a href="contacts.html"><span>Контакты</span><i class="icon-email-1"></i></a></li>
        </ul>
    </nav>

    <section class="contacts">
        <div class="contacts-content">
            <a class="logo-page" href="index.html"><img src="../img/logo-page.png" alt=""></a>
            <div class="contacts-items">
                <div class="contacts-item">
                    <address>
                    <ul>
                        <li><a href="tel:+7-921-907-79-16"><i class="icon-icon-items1"></i>+7-921-907-79-16</a></li>
                        <li><a href="meilto:to1902@yandex.ru"><i class="icon-icon-items2"></i>to1902@yandex.ru</a></li>
                        <li><p><i class="icon-icon-items3"></i>БЦ ИНКОМ Лисичанская, д.6 офис 436</p></li>
                    </ul>
                    <a class="insta" href="javascript:void(0)"><img src="../img/insta.png" alt=""></a>
                </address>
                    <div class="partner">
                        <h4>наши партнеры:</h4>
                        <ul>
                            <li>
                                <img src="../img/partner1.png" alt="">
                                <img src="../img/partner1-hover.png" alt="" class="hover">
                            </li>
                            <li>
                                <img src="../img/partner2.png" alt="">
                                <img src="../img/partner2-hover.png" alt="" class="hover">
                            </li>
                            <li>
                                <img src="../img/partner3.png" alt="">
                                <img src="../img/partner3-hover.png" alt="" class="hover">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/contacts.min.js"></script>
</body>

</html>