<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>АрхиДиВиз</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/services.css">
</head>

<body>

    <div class="lines">
        <span class="lines-item1"></span>
        <span class="lines-item2"></span>
        <span class="lines-item3"></span>
        <span class="lines-item4"></span>
        <span class="lines-item5"></span>
        <span class="lines-item6"></span>
    </div>

    <nav class="menu">
        <ul>
            <li><a href="about.html"><span>О студии</span><i class="icon-company-1"></i></a></li>
            <li><a href="portfolio.html"><span>Портфолио</span><i class="icon-interior-design-1"></i></a></li>
            <li class="active"><a href="services.html"><span>Услуги</span><i class="icon-setting-1"></i></a></li>
            <li><a href="contacts.html"><span>Контакты</span><i class="icon-email-1"></i></a></li>
        </ul>
    </nav>

    <div id="gallery-deta1" class="gallery-popup">
        <span class="cloze"></span>
        <div class="gallery-slider">
            <span class="cloze-popup"></span>
            <div class="slider-content">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="img" style="background: url(../img/gallery-img.png) no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Визуализация ванны на Московском проспекте</p>
                    </div>
                    <div class="swiper-slide">
                        <div class="img" style="background: url(../img/gallery-img.png) no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Визуализация ванны на Московском проспекте</p>
                    </div>
                    <div class="swiper-slide">
                        <div class="img" style="background: url(../img/gallery-img.png) no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Визуализация ванны на Московском проспекте</p>
                    </div>
                    <div class="swiper-slide">
                        <div class="img" style="background: url(../img/gallery-img.png) no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Визуализация ванны на Московском проспекте</p>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"><i class="icon-icon-items"></i></div>
            <div class="swiper-button-prev"><i class="icon-icon-items"></i></div>
        </div>
    </div>

    <div id="gallery-deta2" class="gallery-popup">
        <span class="cloze"></span>
        <div class="gallery-slider">
            <span class="cloze-popup"></span>
            <div class="slider-content">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="img" style="background: url(../img/gallery-img.png) no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Визуализация ванны на Московском проспекте</p>
                    </div>
                    <div class="swiper-slide">
                        <div class="img" style="background: url(../img/gallery-img.png) no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Визуализация ванны на Московском проспекте</p>
                    </div>
                    <div class="swiper-slide">
                        <div class="img" style="background: url(../img/gallery-img.png) no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Визуализация ванны на Московском проспекте</p>
                    </div>
                    <div class="swiper-slide">
                        <div class="img" style="background: url(../img/gallery-img.png) no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Визуализация ванны на Московском проспекте</p>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"><i class="icon-icon-items"></i></div>
            <div class="swiper-button-prev"><i class="icon-icon-items"></i></div>
        </div>
    </div>

    <div id="gallery-deta3" class="gallery-popup">
        <span class="cloze"></span>
        <div class="gallery-slider">
            <span class="cloze-popup"></span>
            <div class="slider-content">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="img" style="background: url(../img/gallery-img.png) no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Визуализация ванны на Московском проспекте</p>
                    </div>
                    <div class="swiper-slide">
                        <div class="img" style="background: url(../img/gallery-img.png) no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Визуализация ванны на Московском проспекте</p>
                    </div>
                    <div class="swiper-slide">
                        <div class="img" style="background: url(../img/gallery-img.png) no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Визуализация ванны на Московском проспекте</p>
                    </div>
                    <div class="swiper-slide">
                        <div class="img" style="background: url(../img/gallery-img.png) no-repeat 50% 50%; background-size: cover;"></div>
                        <p>Визуализация ванны на Московском проспекте</p>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"><i class="icon-icon-items"></i></div>
            <div class="swiper-button-prev"><i class="icon-icon-items"></i></div>
        </div>
    </div>

    <section class="services">
        <div class="services-containr">
            <a class="logo-page" href="index.html"><img src="../img/logo-page.png" alt=""></a>
            <div class="services-content">
                <div class="services-items clearfix">
                    <div class="services-item">
                        <div class="img">
                            <span>01</span>
                            <img src="../img/services-item-icon.png" alt="">
                        </div>
                        <p>Дизайн-проектирование интерьеров (частные, общественные)</p>
                    </div>
                    <div class="services-item">
                        <div class="img">
                            <span>02</span>
                            <img src="../img/services-item-icon2.png" alt="">
                        </div>
                        <p>Архитектурное проектирование (дома, коттеджи)</p>
                    </div>
                    <div class="services-item">
                        <div class="img">
                            <span>03</span>
                            <img src="../img/services-item-icon3.png" alt="">
                        </div>
                        <p>Проектирование малых архитектурных форм</p>
                    </div>
                    <div class="services-item">
                        <div class="img">
                            <span>04</span>
                            <img src="../img/services-item-icon4.png" alt="">
                        </div>
                        <p>Разработка мебели</p>
                    </div>
                    <div class="services-item">
                        <div class="img">
                            <span>05</span>
                            <img src="../img/services-item-icon5.png" alt="">
                        </div>
                        <p>Декорирование объектов</p>
                    </div>
                    <div class="services-item">
                        <div class="img">
                            <span>06</span>
                            <img src="../img/services-item-icon6.png" alt="">
                        </div>
                        <p>Авторский надзор</p>
                    </div>
                </div>
            </div>
            <div class="services-gallery no-active">
                <div data-gallery="gallery-deta1" class="gallery-item" style="background: url('../img/gallery-item-bg.png') no-repeat 50% 50%; background-size: cover;">
                    <p>Чертежи</p>
                </div>
                <div data-gallery="gallery-deta2" class="gallery-item" style="background: url('../img/gallery-item-bg2.png') no-repeat 50% 50%; background-size: cover;">
                    <p>Отделочные материалы</p>
                </div>
                <div data-gallery="gallery-deta3" class="gallery-item" style="background: url('../img/gallery-item-bg3.png') no-repeat 50% 50%; background-size: cover;">
                    <p>Визуализация картинки</p>
                </div>
            </div>
            <a class="arrow-icon" href="javascript:void(0)"></a>
        </div>
    </section>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.matchHeight.min.js"></script>
    <script src="../js/swiper.min.js"></script>
    <script src="../js/script.min.js"></script>
    <script src="../js/services.min.js"></script>
</body>

</html>